<div class="row mb-4 border border-warning">  
    <div class="col-auto">    
        <%= link_to user_path(object) do %>
        <%= object.fname %> <%= object.lname%> 
        <% end %>    
    </div>
    <div class="col-auto">       
        <% if current_user.id != object.id%>
          <% unless friend_request_sent?(object) %> <!-- If object is not a friend and no request has been sent -->
            <% unless friend_request_recieved?(object) %> <!-- If object is not a friend and no request has been recieved -->
              <% unless friend_request_status?(object) %> <!-- If object is not a friend and but request has been recieved or sent -->
                <%= link_to user_friendships_path(object), method: :post do %>
                  <button class= "btn btn-warning"> <i class="fas fa-share-square"></i> Send Friend Request? </button>
                <% end %>
              <% else %> <!-- If object is a friend -->
                <button class= "btn btn-success"> <i class="fas fa-user-friends"></i> Friend </button>
              <% end %>
            <% else %> <!-- If object not a friend and a request has been sent -->
              <button class= "btn btn-info" data-toggle="modal" data-target="#decisionModal">
              <i class="fas fa-envelope"></i> Pending Friend Request... 
              </button>
              <%= render 'friendships/decisionModal', object: object%>
            <% end %>
          <% else %> <!-- If object not a friend and a request has been recieved -->
            <button class= "btn btn-secondary" disabled ><i class="fas fa-chalkboard-teacher"></i>  Friend Request pending... </button>
            
          <% end %>
        <% end %>      
    </div>
</div>