<h2 class="center"> Who Do You Want To Spy On? </h2>

<div class="container col-md-8">
  <% @users.each do |user|%>
    <%= render 'findFriends', object: user %>
  <% end %>
</div>

<% unless @friends.empty? %>
  <h2>My Friends</h2>
  <% @friends.each do |f|%> <!-- Shows all users that have accepted current user's friend request and have become friends  -->
    <%= link_to user_path(f) do %>
      <%= f.fname %> <%= f.lname %>
    <% end %>
    | <button class= "btn btn-success"> Friend </button>
    <br><br>
  <% end %>
<% end %>

<% unless @pending_requests.empty? %>
  <h2>Sent Friend Requests</h2>
  <% @pending_requests.each do |user|%><!-- Shows all users that has sent current user a friend request -->
    <%= link_to user_path(user) do %>
      <%= user.fname %> <%= user.lname %>
    <% end %>
    | <button class= "btn btn-secondary" disabled> Friend Request pending... </button>
    <br><br>
  <% end %>
<% end %>

<% unless @friend_requests.empty? %>
  <h2>Pending Friend Requests</h2>
  <% @friend_requests.each do |user|%> <!-- Shows all users friend requests has been sent to -->
    <%= link_to user_path(user) do %>
      <%= user.fname %> <%= user.lname %>
    <% end %>
    | <button class= "btn btn-info" data-toggle="modal" data-target="#decisionModal">
        Pending Friend Request... 
      </button>
      <%= render 'friendships/decisionModal', object: user %>
    <br><br>
  <% end %>
<% end %>

<h2>Other Users</h2>
<% @users.each do |user|%>
  <% if current_user.id != user.id%><!-- Doesn't show current user on list -->
    <% unless possible_friend?(user) %> <!-- If user is not a friend and no request has been sent to or recieved from this user -->
      <%= link_to user_path(user) do %>
        <%= user.fname %> <%= user.lname %>
      <% end %>
      | 
      <%= link_to user_friendships_path(user), method: :post do %>
        <button class= "btn btn-warning"> Send Friend Request? </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>