<h1> This is the index page </h1>

<h2>All Users</h2>
<% @users.each do |user|%>
  <%= link_to user_path(user) do %>
    <%= user.fname %> <%= user.lname %>
  <% end %>
   | 
  <% if current_user.id != user.id%>
    <% unless friendRequestSent?(user) %> <!-- If user is not a friend and no request has been sent -->
      <% unless friendRequestRecieved?(user) %> <!-- If user is not a friend and no request has been recieved -->
        <% unless friendRequestStatus?(user) %> <!-- If user is not a friend and but request has been recieved or sent -->
          <%= link_to user_friendships_path(user), method: :post do %>
            <button class= "btn btn-warning"> Send Friend Request? </button>
          <% end %>
        <% else %> <!-- If user is a friend -->
          <button class= "btn btn-success"> Friend </button>
        <% end %>
      <% else %> <!-- If user not a friend and a request has been sent -->
        <button class= "btn btn-info" data-toggle="modal" data-target="#decisionModal">
          Pending Friend Request... 
        </button>
        <%= render 'friendships/decisionModal', object: user%>
      <% end %>
    <% else %> <!-- If user not a friend and a request has been recieved -->
        <button class= "btn btn-secondary" disabled> Friend Request pending... </button>
    <% end %>
  <% end %>
  <br><br>
<% end %>


