<h1> Timeline </h1>

<h2>All Posts</h2>
<% @posts.each do |p|%>
  <%= p.user.fname %> <%= p.user.lname %>
  <br>
  <%= p.content %>
  <br>
  <%= render 'likes/like_posts', object: p%>
  <%= render 'comments/form', object: p%>

  <%= render 'comments/comment', object: p%>
  <br><br>
<% end %>