<div class="bg-img1 bg-blur"></div>
<header class="fixed-top navbar-dark bg-purple">
<%= favicon_link_tag asset_path('logo1.png') %>

  <div class="">
    <nav class="navbar navbar-expand-sm">
      <div class ="navbar-header"> 
      <%= link_to posts_path, class: "text-light" do %>
        <%=image_tag("logo1.png", class: "navbar-brand", id: "logo")%>
      <% end %>
      </div>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Find Friends", users_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "My Profile", user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <a id= "navbarDropdown" class="nav-link dropdown-toggle" 
                href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Create Post <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "New", new_post_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <button class= "btn btn-info nav-link" data-toggle="modal" data-target="#noticeModal">
              Notifications
            </button>
          </li>
          <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<% if user_signed_in? %>
  <%= render 'shared/notifications', object: current_user.notifications%>
<%end%>