<!DOCTYPE html>
<html>
  <head>
    <title>Spy-Book</title>
    <%= favicon_link_tag asset_path('user-secret-solid-black.svg')%>
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:700|Courgette|Raleway:400,500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
      <br>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
